h1>Update Book Form</h1>

<%= form_with url: "/books/#{@book.id}", method: :patch, data: { turbo: false } do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :published %>
  <%= form.text_field :published %>
  <%= form.label :in_print %>
  <%= form.text_field :in_print %>
  <%= form.label :translated_english %>
  <%= form.text_field :translated_english %>
  <%= form.submit 'Update Book' %>
<% end %>