<header>
<p><%= link_to "Authors Index", "/authors"%></p>
<p><%= link_to "Books Index", "/books"%></p>
</header>

<h1>Books Index</h1>

<% @books.each do |book| %>
  <% if book.translated_english == true %>
    <p><%= book.title %></p>
    <li>Year Published:<%= book.published %></li>
    <li>In print:<%= book.in_print %></li>
    <li>Tranlated in English:<%= book.translated_english %></li>
  <% end %>
<% end %>